<!doctype html>
<html>
<head>
  <title>Game</title>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/game.css">
  <style>
    .h-divider{ 
      margin-top:5px;
      margin-bottom:5px;
      height:1px;
      width:100%;
      border-top:3px solid gray;
      }
  </style>

</head>
<body>
  <div id="variables" data-user_id={{user_id}} data-game_id={{game_id}} />
  <!--NAVBAR-->
	<nav class = "navbar navbar-inverse">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href="/">UNO</a>
			</div>
			<ul class = "nav navbar-nav navbar-left">
				<li><a href="/lobby">Lobby</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">Profile</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>

  <!--GAME-->
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-10">
          <h1>GAME <span id="gameNumber"></span></h1><!--GAME ID HERE-->
        </div>
        <div class="col-md-2">
          <button class="btn btn-success btn-lg btn-block", onclick="post('ready')">READY</button>
        </div>
      </div>
      <div class="row">      
        <div class="col-md-2 col-md-offset-5">
          <!--PLAYER LEFT-->
          <div id="opponent2">
            <div id="opponent2_avatar"><img src="/images/avatars/default.png" alt="#" class="img-circle" width="100" height="100"></div> 
            <div id="opponent2_name">Player Name</div>
            <div id="opponent2_hand"># of cards in hand</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <!--PLAYER TOP-->
          <div id="opponent1">
            <div id="opponent1_avatar"><img src="/images/avatars/default.png" alt="#" class="img-circle" width="100" height="100"></div>
            <div id="opponent1_name">Player Name</div>
            <div id="opponent1_hand"># of cards in hand</div>
          </div>
        </div>

        <!--GAME BOARD-->
        <div id="board" class="col-md-6">
          <h1 id="board_text">GAME TABLE HERE, DISCARD PILE</h1>
          <img id="cardPile" src="/images/cards/back.png"  onclick="post('draw')"  ondragend="post('draw')" alt="cardPile" width="100" height="150">
          <img id="discard" src="" alt="discard">
        </div>

        <div class="col-md-2">
          <!--PLAYER RIGHT-->
          <div id="opponent3">
            <div id="opponent3_avatar"><img src="/images/avatars/default.png" alt="#" class="img-circle" width="100" height="100"></div> 
            <div id="opponent3_name">Player Name</div>
            <div id="opponent3_hand"># of cards in hand</div>
          </div>
        </div>
      </div>
      <!--PLAYER USER-->
      <div class="h-divider"></div>
      <div class="row">
        <div id="player" class="col-md-2">
          <div id="your_avatar"><img src="/images/avatars/default.png" alt="#" class="img-circle" width="150" height="150"></div>
          <h4>{{nick_name}}</h4>
        </div>
        <div id="handCards"></div>
        <div id="player_hands" class="col-md-6">
          <h2 id="player_hint">CARDS ON HAND HERE</h2>
          {{#each hands}}
		  <img src="/images/cards/{{this.image_url}}" alt="#" width="50" height="75" onclick="play('{{this.id}}')">
		  {{/each}}
        </div>
        <div class="col-md-2 col-md-offset-2">
          <button class="btn btn-warning btn-lg btn-block" onclick="post('draw')">DRAW</button>
          <button class="btn btn-danger btn-lg btn-block" onclick="post('uno')">UNO</button>
        </div>
      </div>
    </div>

    <!--CHAT-->
    <div class="col-md-4">
		  <div id="chat">
		    <h3>Chat</h3>
		      <style>
	            * { margin: 0; padding: 0; box-sizing: border-box; }
	            body { font: 13px Helvetica, Arial; }
	            form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 30%; }
	            form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
	            form button { width: 9%; background: rgb(14, 209, 21); border: none; padding: 10px; }
	            #messages { list-style-type: none; margin: 0; padding: 0; }
	            #messages li { padding: 5px 10px; }
	            #messages li:nth-child(odd) { background: #eee; }
	            #messages { margin-bottom: 0px }
	        </style>
	    	<ul id="messages">	
			{{#each messages}}
			<li>{{this.nick_name}}: {{this.message}}   {{this.post_time}}</li>
			{{/each}}
			</ul>
	        <form action="">
	          <input id="msg_form" autocomplete="off" /><button>Send</button>
	        </form>
	        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	        <script>
	          $(function () {
	            var socket = io();
	            $('form').submit(function(){
			 	 	var msg={action:"send_chat", message: $('#msg_form').val(), email: '{{email}}', game_id: {{game_id}} }
	         	    socket.emit('game chat', msg);
	              	$('#msg_form').val('');
	              	return false;
	            });
	          });
	        </script>
		  </div>
	  </div>
  </div>
  </body>
</html>
