extends layout

block stylesheets
  link(rel='stylesheet', type='text/css' href='stylesheets/landing.css')

block content
  h1= title
  p Welcome to #{title}
  p Please login!
    #registerDisplay.container
    .row
      .box
        .col-lg-12
          h2.intro-text
            | Login
        .panel-body
          form(role='form', action='/users/login' method='post')
            .col-sm-6
              .form-group
                label(for='email')
                  | Email Address
                  sup *
                input#email.form-control(type='email', placeholder='you@example.org', name='email', autofocus='', required='', value=emailInput, maxlength'50')
              .form-group
                label(for='password')
                  | Password
                  sup *
                input#password.form-control(type='password', placeholder='********', name='password' required='')
              .col-lg-14
                button.btn.btn-success.pull-right(type='submit') Login
                p
                  | Don't have an account?
                  a(href='/users/register')  Create Account
                p
                  a(href='/users/register')  Forgot Password?
