<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h1>Sign Up for UNO</h1>
			{{#if error}}
    		<div class="alert alert-danger">{{error}}</div>
			{{/if}}
            <img src="/images/splash/UNOBG.png" class="img-responsive" alt="UNO Splash Image">

            <form name="signup", method="post">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
					required
                    data-fv-notempty-message="The email is required" />
		        </div>
                <div class="form-group">
                    <label for="nick_name">Nick Name:</label>
                    <input type="text" class="form-control" id="nickname" placeholder="Enter nick name" name="nick_name"
					required
                    data-fv-notempty-message="The nick name is required" />
		        </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
					required
                    data-fv-notempty-message="The password is required" />
		        </div>
				<div class="row">
					{{#each avatars}}
					<div class="col-md-4">
					{{this.id}}
					<img src="/images/avatars/{{this.image_url}}" alt="#" class="img-circle" width="100" height="100">							 </div>
					{{/each}}
				</div>
				<div class="form-group">
					<label for="avatar">Avatar:</label>
					<select id="avatars" name="avatar_id">
					{{#each avatars}}
					 <option value={{this.id}}>{{this.id}}</option>
					{{/each}}
					</select>
				</div>
                <button type="submit" class="btn btn-default">Submit</button>
	        </form>                       
        </div>
    </div>
</body>
</html>
