<!doctype html>
<html>
<head>
  <title>Game</title>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/js/test-game.js"></script>
  <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/test-game.css">
  <style>
    body {
        background-color: #f7eef3;
        }
    .h-divider{ 
      margin-top:5px;
      margin-bottom:5px;
      height:1px;
      width:100%;
      border-top:3px solid gray;
      }
  </style>

</head>
<body>
  <!--Navbar-->
  <div id="variables" data-user_id={{user_id}} data-game_id={{game_id}} />
	<nav class = "navbar navbar-inverse">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href="/">UNO</a>
			</div>
			<ul class = "nav navbar-nav navbar-left">
				<li><a href="/lobby">Lobby</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			<!--If player logged in, show Welcome playername & logout, else show login or sign up options.-->
				<li><a href="/login">Login</a></li>
				<li><a href="/logout">Logout</a></li>
				<li><a href="/signup">Sign Up</a></li>
			</ul>
		</div>
	</nav>
	<!--End of Navbar-->

  <!--Game area here-->
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-10">
          <h1>GAME <span id="gameNumber"></span></h1><!--GAME ID HERE-->
        </div>
        <div class="col-md-2">
          <a href="#" role="button" class="btn btn-success btn-lg btn-block" onclick="post('ready')">READY</a><!--ready function here, maybe can set to disappear after game starts?-->
        </div>
      </div>
      <div class="row">      
        <div class="col-md-2 col-md-offset-5">
          <!--Player module-->
          <div id="player1">
            <img id="pl1Image" src="/images/avatars/default.png" alt="#" class="img-circle" width="100" height="100"> 
            <h5>Player Name</h5><!--Insert player name here-->
            <h6><spand id="pl1Cards"></spand> of cards in hand</h6><!--Card count in hand-->
          </div>
          <!--end of player module-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <!--Player module-->
          <div id="player2">
            <img id="pl2Image" src="/images/avatars/default.png" alt="#" class="img-circle" width="100" height="100"> 
            <h5>Player Name</h5><!--Insert player name here-->
            <h6><spand id="pl2Cards"></spand> of cards in hand</h6><!--Card count in hand-->
          </div>
          <!--end of player module-->
        </div>
        <div class="col-md-1">
          
          <p>direction image here</p><!--game direction image, code to invert image following the game direction-->
 
        <div id="dir_left" class="col-md-1">
          <p>left direction image here</p><!--game direction image, code to invert image following the game direction-->
        </div>
        <div class="col-md-6">
          <h1>GAME TABLE HERE, DISCARD PILE</h1><!--Show top card of discard pile javascript here-->

          <img id="cardPile" src="/images/cards/back.png"  onclick="post('draw')"  ondragend="post('draw')" alt="cardPile"> <!-- Can move to anywhere, just keep the id -->

          <img id="discard" src="" alt="discard"><!-- Can move to anywhere, just keep the id -->

        </div>
        <div id="dir_right" class="col-md-1">
          <p>right direction image here</p><!--game direction image, code to invert image following the game direction-->
        </div>
        <div class="col-md-2">
          <!--Player module-->
          <div id="player3">
            <img id="pl3Image" src="/images/avatars/default.png" alt="#" class="img-circle" width="100" height="100"> 
            <h5>Player Name</h5><!--Insert player name here-->
            <h6><spand id="pl1Cards"></spand> of cards in hand</h6><!--Card count in hand-->
          </div>
          <!--end of player module-->
        </div>
      </div>
      <!--Current player dashboard-->
      <div class="h-divider"></div>
      <div class="row">
        <div class="col-md-2">
          <div id="player4">
          <img id="pl4Image" src="/images/avatars/default.png" alt="#" class="img-circle" width="150" height="150">
          <h4>Player Name</h4><!--Insert player name here-->
        </div>
        <div class="col-md-6">
          <h2>CARDS ON HAND HERE</h2><!--javascript to display cards on hand here-->

          <div id="handCards"></div><!-- Can move to anywhere, just keep the id -->

        </div>
        <div class="col-md-2 col-md-offset-2">
          <button class="btn btn-default btn-lg btn-block" onclick="post('pass')">PASS</button><!--Skip turn function here-->
          <button class="btn btn-warning btn-lg btn-block" onclick="post('draw')">DRAW A CARD</button><!--draw a card function here-->
          <button class="btn btn-danger btn-lg btn-block" onclick="post('uno')">UNO</button><!--Call UNO! function here-->
        </div>
      </div>
      <!--End of current player dashboard-->  
    </div>
    <!--End of game area-->



    <div class="col-md-4">
		  <div id="chat"><!--Put Chat Widget here-->
		    <h3>Chat</h3>
		      <style>
	            * { margin: 0; padding: 0; box-sizing: border-box; }
	            body { font: 13px Helvetica, Arial; }
	            form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 30%; }
	            form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
	            form button { width: 9%; background: rgb(14, 209, 21); border: none; padding: 10px; }
	            #messages { list-style-type: none; margin: 0; padding: 0; }
	            #messages li { padding: 5px 10px; }
	            #messages li:nth-child(odd) { background: #eee; }
	            #messages { margin-bottom: 0px }
	        </style>
	        <ul id="messages"></ul>
	        <form action="">
	          <input id="m" autocomplete="off" /><button>Send</button>
	        </form>
	        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	        <script>
	          $(function () {
	            var socket = io();
	            $('form').submit(function(){
	              socket.emit('chat message', $('#m').val());
	              $('#m').val('');
	              return false;
	            });
	            socket.on('chat message', function(msg){
	              $('#messages').append($('<li>').text(msg));
	              window.scrollTo(0, document.body.scrollHeight);
	            });
	          });
	        </script>
		  </div>
	  </div>
  </div>
  </body>
</html>
